<a href="https://colab.research.google.com/github/quocdat02082005/buoi03_python/blob/main/buoi03_19082005_python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 101

## Trình biên dịch (compiler) vs. Thông dịch

In [25]:
%%writefile first.cpp
#include <stdio.h>
int main(void) {
  int a=27, b=6, c;
  c = a%b;
  printf("The value of c is %d.\n", c);
  return 0;
}

Overwriting first.cpp

In [26]:
!cat first.cpp
print("-"*50)

print('Compile...')
!gcc first.cpp -o first
!ls

print("-"*50)
print('Execute...')
!./first

#include <stdio.h>
int main(void) {
  int a=27, b=6, c;
  c = a%b;
  printf("The value of c is %d.\n", c);
  return 0;
}
--------------------------------------------------
Compile...
drive  first  first.cpp  first.py  sample_data
--------------------------------------------------
Execute...
The value of c is 3.

In [27]:
%%writefile first.py
a = 27
b = 6
c = a%b;
print("The value of c is %d.\n"% c)

Overwriting first.py

## Kết thúc

## Ngôn ngữ lập trình

```

Kết thúc

In [28]:
from IPython.display import display

In [29]:
print("Hello, World!")
display ('Hello, World!')

Hello, World!

'Hello, World!'

In [30]:
# comment
'''
comment
'''
print('comment')

comment

In [31]:
# indent
score = 80
if score >=60 :
  print('Pass')
  pass # dummy

Pass

In [34]:
# variable
x =2
print(x, type(x))

price = 2.5
print(price, type(price))

word = 'Hello'
word = "Hello"
print(word, type(word))

word = """
Hello
"""

print(word, type(word))

2 <class 'int'>
2.5 <class 'float'>
Hello <class 'str'>

Hello
 <class 'str'>

In [35]:
x = 2
y = x + 1
print(f'x = {x}, y = {y}')
print('x = %d, y = %d'%(x,y))

x = 2, y = 3
x = 2, y = 3

In [36]:
# comment
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.11.13

## Kiểu dữ liệu

In [37]:
x = "Hello World" #str
print(x, type(x))

x = 2 #int
print(x, type(x))

x = 2.5 #float
print(x, type(x))

x = 7j #complex
print(x, type(x))

Hello World <class 'str'>
2 <class 'int'>
2.5 <class 'float'>
7j <class 'complex'>

In [39]:
from re import X
# container

x = ["apple", "banana", "cherry"] #list: chứa các đối tượng khác
x[2] = 'Hello World'
print(x,x[2])

x = ("apple", "banana", "cherry") #tuple: chứa các đối khác, readonly
# x[2] = 10 # error
print(x,x[2])

x = range(6) #range: r(6)=[0,5], r(min,max): [min,max]
print(x, list(x)) #literator" chỉ cấp phát khi sử dụng

x = {"name" : "Tom", "age" : 20} #dict {k,v} #dạng là cái nào cũng được
print(x, x['age'])

x = {"apple", "banana", "cherry", "apple"} #set: không có giá trị trùng
print(x)

x = frozenset({"apple", "banana", "cherry"}) #frozenset
print(x)

['apple', 'banana', 'Hello World'] Hello World
('apple', 'banana', 'cherry') cherry
range(0, 6) [0, 1, 2, 3, 4, 5]
{'name': 'Tom', 'age': 20} 20
{'apple', 'banana', 'cherry'}
frozenset({'apple', 'banana', 'cherry'})

In [40]:
x = True #bool
print(x, type(x))

x = b"Hello" #bytes
print(x, type(x))

x = bytearray(5) #bytearray
print(x, type(x))

x = memoryview(bytes(5)) #memoryview
print(x, type(x))

x = None #NoneType
print(x, type(x))

True <class 'bool'>
b'Hello' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x7a65b35f5d80> <class 'memoryview'>
None <class 'NoneType'>

## Ép kiểu (casting)

In [41]:
x = str(3) # x will be '3'
print(x, type(x))

y = int(3) # y will be 3
print(y, type(y))

z = float(3) # z will be 3.0
print(z, type(z))

print(list(range(6)))
print(set([1 ,4 ,2 ,1 , 1, 2, 3, 4]))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>
[0, 1, 2, 3, 4, 5]
{1, 2, 3, 4}

In [ ]:
x = 2 # int
y = 3.4 # float
z = 7j #complex
print(x, type(x))
print(y, type(y))
print(z, type(z))

In [42]:
''' Arithmetic Operations
+ Addition 7 + 2 = 9
- Subtraction 7 - 2 = 5
* Multiplication 7 * 2 = 14
/ Division 7 / 2 = 3.5
// Floor division 7 // 2 = 3 (Quotient)
% Modulus 7 % 2 = 1 (Remainder)
** Exponentiation 7 ** 2 = 49
'''

' Arithmetic Operations\n+ Addition 7 + 2 = 9\n- Subtraction 7 - 2 = 5\n* Multiplication 7 * 2 = 14\n/ Division 7 / 2 = 3.5\n// Floor division 7 // 2 = 3 (Quotient)\n% Modulus 7 % 2 = 1 (Remainder)\n** Exponentiation 7 ** 2 = 49\n'

In [43]:
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

In [44]:
# Kiểu Booleans: True/False
print(3 > 2)
print(3 == 2)
print(3 < 2)

True
False
False

$$bmi = \frac{w}{h^{2}}$$

In [46]:
# Tính toán BMI
#input
height_cm = 170
weight_kg = 60
# process
height_m = height_cm/100
BMI = (weight_kg/(height_m ** 2))
# output
print("Your BMI is: " + str(round(BMI,1)))

Your BMI is: 20.8

In [47]:
# Future value of a specified principal amount, rate of interest, and a number of years
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

In [48]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [ ]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

## Data Structures

In [ ]:
x = ["apple", "banana", "cherry"] #list
print(x, type(x))

x = ("apple", "banana", "cherry") #tuple
print(x, type(x))

x = {"name" : "Tom", "age" : 20,} #dict #nó order
print(x, type(x))

x = {"apple", "banana", "cherry"} #set #ko duplicate, k order neu add them bien
print(x, type(x))

In [52]:
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])
print(x[1:3])
print(x[-2:-4:-1])
print(x[:-1], x[:], x[::-1])

4
60
70
90
[70, 80]
[80, 70]
[60, 70, 80] [60, 70, 80, 90] [90, 80, 70, 60]

In [53]:
a = [2 ,3 ,5]
b = [1, 2]
a.extend(b)
a.append(10)
print(a)

[2, 3, 5, 1, 2, 10]

In [ ]:
x = (10, 20, 30, 40, 50)
print(x[0])
print(x[1])
print(x[2])
print(x[-1])

In [56]:
animals = {'cat', 'dog'}
print(animals)
print('cat' in animals)
print('fish' in animals)

animals.add('fish')
print(animals)

print('fish' in animals)
print(len(animals))
animals.add("cat")
print(len(animals))

animals.remove('cat')
print(animals)
print(len(animals))

{'cat', 'dog'}
True
False
{'fish', 'cat', 'dog'}
True
3
3
{'fish', 'dog'}
2

In [58]:
s = "Hom nay la thu hai"
print(list(s))
print(len(set(list(s))), len(set(list(s))))

['H', 'o', 'm', ' ', 'n', 'a', 'y', ' ', 'l', 'a', ' ', 't', 'h', 'u', ' ', 'h', 'a', 'i']
12 12

In [59]:
# dictionary
k = { 'EN':'English','FR':'French' }
print(k['EN'])

English

In [61]:
s = "Hom nay la thu hai"
d_cnt = {}
for ci in list(s):
  if d_cnt.get(ci) is None:
    d_cnt[ci] = 1
  else:
    d_cnt[ci] = d_cnt[ci] + 1
print(d_cnt)

{'H': 1, 'o': 1, 'm': 1, ' ': 4, 'n': 1, 'a': 3, 'y': 1, 'l': 1, 't': 1, 'h': 2, 'u': 1, 'i': 1}

In [62]:
fruits = ["apple", "banana", "cherry"] #lists []
print(fruits)

colors = ("red", "green", "blue") #tuples ()
print(colors)

animals = {'cat', 'dog'} #sets {}
print(animals)

person = {"name" : "Tom", "age" : 20} #dictionaries {} #khi muốn có tên cột, đối tượng
print(person)

['apple', 'banana', 'cherry']
('red', 'green', 'blue')
{'cat', 'dog'}
{'name': 'Tom', 'age': 20}

In [63]:
import pandas as pd
pd.DataFrame([person])

  name  age
0  Tom   20

In [64]:
# Python Lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [65]:
# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002),
("Inventory", 1003))
for account in accounts:
  print("Account name:", account[0], "Account number:", account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [68]:
account_numbers = set([account[1] for account in accounts]) #comprehensive
print(account_numbers)

new_account_number = 1004
if new_account_number not in account_numbers:
  print("Account number", new_account_number, "is not in use.")

{1001, 1002, 1003}
Account number 1004 is not in use.

In [74]:
# Python Dictionaries
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}

rows = []
for account_number, account_info in accounts.items():
  print("Account number:", account_number)
  print("Account name:", account_info["name"])
  print("Account balance:", account_info["balance"])
  print("Account type:", account_info["type"])
  row = {'number': account_number, **account_info}
  rows.append(row)

pd.DataFrame(rows)

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

  number                 name  balance       type
0   1001                 Cash    500.0      Asset
1   1002  Accounts Receivable   1000.0      Asset
2   2001     Accounts Payable    750.0  Liability

## Python Control Logic and Loops

In [75]:
a, b = 5, 2
for a, b in [(5, 2), (5, 5), (2, 5)]:
  print("<", a < b) # a<b
  print(">",a > b, b < a)
  print(">=", a >= b, not(a < b))
  print("<=", a <= b, not(a > b))
  print("==", a == b, not(b<a) and not (a<b))
  print("!=", a != b, b<a or a<b)
  print('-'*50)

< False
> True True
>= True True
<= False False
== False False
!= True True
--------------------------------------------------
< False
> False False
>= True True
<= True True
== True True
!= False False
--------------------------------------------------
< True
> False False
>= False False
<= True True
== False False
!= True True
--------------------------------------------------

In [76]:
# Python if else
score = 80
if score >=60 :
  print("Pass")
else:
  print("Fail")

Pass

In [77]:
score = 95
if score >= 90 :
  print("A")
elif score >=60 : # 60<=score<90
  print("Pass")
else:             # score <60
  print("Fail")

A

In [78]:
# Python if elif else
score = 90
grade = ""
if score >=90:
  grade = "A"
elif score >= 80:
  grade = "B"
elif score >= 70:
  grade = "C"
elif score >= 60:
  grade = "D"
else:
  grade = "E"
print(grade)
# score --> grade

A

In [79]:
# Python for Loops
for i in range(1, 6): # i in [1,5]
  print(i, end = " ")

1 2 3 4 5

In [80]:
# for loops
for i in range(1,10):
  for j in range(1,10):
    print(i, ' * ' , j , ' = ', i*j)
  print('-'*50)

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

In [83]:
# while loops
age = 10
while age < 20:
  print(age, end = " ")
  age = age + 1

10 11 12 13 14 15 16 17 18 19

## Python Functions

In [84]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):
  fv = pv * ((1 + (r)) ** n)
  return fv

fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

In [ ]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

In [ ]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

In [ ]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

In [ ]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):
  fv = pv * ((1 + (r)) ** n)
return fv
fv = getfv(100, 0.1, 7)
print(round(fv, 2))

## Python Classes / Objects

In [85]:
# Python class
class MyClass: # class: Mau giay to
  x = 5

c1 = MyClass() #object : sv A dien vao giay to
print(c1.x)

5

In [87]:
class Person:
  def __init__(self, name, age): # hàm tạo, hàm trong class phải có từ khoá slef
    self.name = name # định nghĩa hình thức
    self.age = age

p1 = Person("Alan", 20) #__init__(p1, "Alan", 20)
print(p1.name)
print(p1.age)

Alan
20

In [90]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)
p1 = Person("Alan", 20)
p1.myfunc() #mỳunc(p1)

Hello my name is Alan

In [94]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)
p1 = Person("Alan", 20)
p1.myfunc()
print(p1.name)
print(p1.age)

Hello my name is Alan
Alan
20

## Python Modules

In [107]:
%%writefile mymodule.py
  # mymodule.py
def greeting(name):
  print("Hello, " + name)
def greeting_vn(name):
  print("Xin chào, " + name)

Overwriting mymodule.py

In [103]:
!ls
print("-"*10)
!cat mymodule.py

drive  first  first.cpp  first.py  mymodule.py	__pycache__  sample_data
----------
  # mymodule.py
def greeting(name):
  print("Hello, " + name)
def greeting_vn(name):
  print("Xin chao, " + name)

In [104]:
import mymodule
mymodule.greeting("World!")

Hello, World!

In [110]:
%reload_ext autoreload
import importlib
import mymodule
importlib.reload(mymodule)
mymodule.greeting_vn("World!")

Xin chào, World!

## Python File / Dictionary

In [116]:
# Python File Input / Output
with open('myfile.txt', 'w') as file:
  file.write('Hello World\nThis is Python File Input Output')
with open('myfile.txt', 'r') as file:
  text = file.read()
print(text)

Hello World
This is Python File Input Output

## Ket thuc